<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JH Figure - Shop Mô Hình Anime Figure Chính Hãng tại TP.HCM</title>
    <meta name="description" content="Shop JH Figure tại TP.HCM chuyên bán sản phẩm mô hình anime, gundam, gunpla chính hãng Nhật Bản. Bạn có thể mua đa dạng mô hình từ gameprize, nendoroid, mô hình scale, resin, gundam... và các sản phẩm anime goods nhồi bông, card bo góc. Ngoài ra, JH Figure còn nhận mua hộ order hàng Mercari, Amazon, Suruga từ Nhật.">
    <link rel="canonical" href="https://jhfigure.com/">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body id="wd-shoes-scofiled" class="template-index">

    <header id="header" class="site-header">
        <div class="header-top">
            <div class="container">
                <div class="header-row">
                    <div class="header-logo">
                        <a href="/">
                            <img class="logo-shop" src="/images/logo.png" alt="JH Figure">
                        </a>
                    </div>

                    <div class="header-search">
                        <form action="/search" class="search-form">
                            <input name="q" autocomplete="off" class="search-input" type="text" placeholder="Bạn đang tìm gì...">
                            <button type="submit" class="btn-search" aria-label="Tìm kiếm">
                                <img src="/images/search-icon.svg" alt="Tìm kiếm">
                            </button>
                        </form>
                    </div>

                    <div class="header-icons">
                        <ul class="icon-list">
                            <li class="icon-item hidden-mobile">
                                <a class="icon-link" href="tel:0396686826">
                                    <img src="/images/hotline-icon.png" alt="Hotline">
                                    <span class="box-text">Hotline<span class="small-text">0396686826</span></span>
                                </a>
                            </li>
                            <li class="icon-item">
                                <a href="/account" class="icon-link">
                                    <img src="/images/account-icon.svg" alt="Tài khoản">
                                    <span class="box-text hidden-mobile">Đăng nhập<span class="small-text">Đăng ký</span></span>
                                </a>
                            </li>
                            <li class="icon-item">
                                <a href="/cart" class="icon-link">
                                    <img src="/images/cart-icon.svg" alt="Giỏ hàng">
                                    <span class="js-number-cart number-cart">0</span>
                                    <span class="box-text hidden-desktop">Giỏ hàng</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-bottom hidden-mobile">
            <div class="container">
                <nav class="site-nav-menu">
                    <ul>
                        <li><a href="#"><img src="/images/nav-icon-1.png" alt="">Giao hàng & bảo hành</a></li>
                        <li><a href="#"><img src="/images/nav-icon-2.png" alt="">Tra cứu đơn đặt trước</a></li>
                        <li><a href="#"><img src="/images/nav-icon-3.png" alt="">Tính giá gom hàng</a></li>
                        <li><a href="#"><img src="/images/nav-icon-4.png" alt="">FAQ</a></li>
                        <li><a href="#"><img src="/images/nav-icon-5.png" alt="">Tin tức</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main>
        <h1 class="hidden">JH Figure</h1>

        <section id="home-slider">
            <div class="container">
                <p>Nội dung slider...</p>
            </div>
        </section>

        <section id="section-category" class="pd-top-30">
            <div class="container">
                <div id="category-banner" class="category-grid">
                    <div class="item banner-hover">
                        <div class="box-cat">
                            <a href="#" class="img-cat">
                                <img class="dt-width-100" src="/images/cat-hatsune-miku.jpg" alt="Hatsune Miku">
                            </a>
                            <div class="banner-content">
                                <a href="#">Hatsune Miku</a>
                            </div>
                        </div>
                    </div>
                     <div class="item banner-hover">
                        <div class="box-cat">
                            <a href="#" class="img-cat">
                                <img class="dt-width-100" src="/images/cat-elaina.png" alt="Elaina">
                            </a>
                            <div class="banner-content">
                                <a href="#">Elaina</a>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </section>

        <section id="section-flash-sale" class="pd-top-30">
            <div class="container">
                <div class="bg-flash-sale">
                    <div class="wd-top-title">
                        <h2 class="title-section">FLASH SALE</h2>
                        </div>
                </div>
            </div>
        </section>

        </main>

    <footer class="mg-top-30">
        <div class="top-ft-wanda">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <h4>HỘ KINH DOANH JH FIGURE</h4>
                        <p>GPKD số 41N8156818 cấp ngày 28/08/2024 tại Sở Kế hoạch và Đầu tư Hồ Chí Minh.</p>
                        <p>Mở cửa 09:00 - 20:00</p>
                        <a href="http://online.gov.vn/Website/chi-tiet-135308">
                            <img src="/images/bocongthuong.png" alt="Bộ Công Thương" style="width: 120px;">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <h4 class="title-footer">Chính sách</h4>
                        <ul>
                            <li><a href="/pages/chinh-sach-bao-mat">Chính sách bảo mật</a></li>
                            <li><a href="/pages/chinh-sach-van-chuyen">Chính sách vận chuyển</a></li>
                            </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="title-footer">Hướng dẫn</h4>
                        <ul>
                            <li><a href="/pages/ship-quoc-te">Vận chuyển quốc tế</a></li>
                            </ul>
                    </div>
                    <div class="col-md-3">
                        <h4 class="title-footer">Hotline hỗ trợ</h4>
                        <p>Gọi mua hàng: <a href="tel:null">null</a></p>
                        <h4 class="title-footer" style="margin-top: 15px;">Phương thức thanh toán</h4>
                        <img src="/images/payment-methods.jpg" alt="Phương thức thanh toán" style="width: 246px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wanda">
            <div class="container">
                <p>© Copyright 2025 By DTD</p>
            </div>
        </div>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>